@media (max-width: 479px) {
  /* Add your mobile (<479px) styles here for shimmer effect */

  [responsive='snap-wrapper'] {
    scroll-snap-type: x mandatory !important;
    overflow-x: auto !important;
  }

  [responsive='snap-item'] {
    scroll-snap-align: start !important;
    flex: 0 0 auto !important;
  }
}
